@media (max-width: 430px) {
    .menu-toggle {
      display: block; /* Mostrar el botón hamburguesa */
    }
  
    .navbar-nav {
      display: none; /* Ocultar el menú por defecto */
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  
    .navbar-nav.show {
      display: flex; /* Mostrar el menú cuando se active */
    }
  
    .navbar-nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar-nav ul li {
      margin: 10px 0;
    }
  }
  